.input-group-addon,
.input-group-btn {
    width: auto !important
}

.input-group-addon {
    border: 0px !important;
    border-radius: 4px !important;
}

.panel-primary>.panel-heading {
    background-color: #FF1493 !important;
    border-color: #FF1493
}

.panel-primary {
    border-color: #FF1493 !important
}

body {
    background: lightgray !important
}

.form-horizontal .form-group {
    margin-right: 0px !important;
    margin-left: 0px !important;

}
